RewriteEngine On
RewriteBase /dental_community/
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

Options +FollowSymLinks
# disable directory browsing
Options All -Indexes

# prevent folder listing
IndexIgnore *

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

RewriteRule ^do-([^/]*)_(.*)_(.*)\.secure$ auth?do=$1&$2=$3 [L]
RewriteRule ^do-([^/]*)\.secure$ auth?do=$1 [L]

# for API
RewriteRule ^api-([^/]+)/([^/]+) rest-api/api.php?page=$1&id=$2 [NC,L]
RewriteRule ^api-([^/]+) rest-api/api.php?page=$1 [L]

# for pages
RewriteRule ^page-([^/]+) page.php?page=$1 [L]


#for product detail page, also work detail.php?pId
RewriteRule ^course-([^/]+) pd.php?pSlug=$1 [L]



#for products page
RewriteRule ^products-([^/]+) products?cat=$1 [L]
#RewriteRule ^products/([0-9]+)/?$ products?cat=$1 [NC,L]

#for productDeals
RewriteRule ^deal-([^/]+) productDeals.php?dealSlug=$1 [L]

#for product category
RewriteRule ^pCategory-([^/]+) products.php?catSlug=$1 [L,QSA]
# for post view page
RewriteRule ^item-([^/]+) view.php?pSlug=$1 [L]
RewriteRule ^view-([^/]+) viewtxt.php?pSlug=$1 [L]
RewriteRule ^pagePrint-([^/]+) pagePrint.php?pSlug=$1 [L]
#for product Deal
RewriteRule ^dealCategory-([^/]+) productDeals.php?catSlug=$1 [L]

RewriteRule ^error-([^/]*) error.php?page=$1 [L]
RewriteRule ^home index [L]
RewriteRule ^forget-password trouble [L]
RewriteRule ^IBMS-Admin(.*) admin/?do=admin[L]

RedirectMatch 301 /__sessions_overridepath(.*) /error-301$1

ErrorDocument 404 /error-404
ErrorDocument 500 /error-500

